<div id="control-<%= id %>" class="card h-100 g-brd-gray-light-v7 rounded g-mb-20 ">
  <div class="card-block g-pa-20">
    <h4 class="media card-title g-mb-10 align-items-center">
      <span id="name-<%= id %>" class="d-flex h2 align-self-center g-font-weight-800 g-color-primary">
        <%= name %>
      </span>

      <label class="d-flex align-items-center ml-auto">
        <span class="g-mr-10 g-font-weight-300 g-font-size-16">Enable</span>
        <div class="u-check">
          <input id="enable-<%= id %>" class="g-hidden-xs-up g-pos-abs g-top-0 g-right-0" name="radGroup<%= id %>"
            type="radio" >
          <div class="u-check-icon-radio-v7">
            <i class="fa" data-check-icon=""></i>
          </div>
        </div>
      </label>
    </h4>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-dark u-table--v2 table-bordered">
          <thead>
            <tr>
              <th>Active</th>
              <th>SetPoint</th>
              <th>Current Value</th>
              <th>Set Value</th>
            </tr>
          </thead>

          <tbody>
            <!-- RAW ACTIVE POWER -->
            <tr>
              <td>
                <div class="form-group">
                  <label class="d-flex align-items-center justify-content-between">

                    <div class="u-check">
                      <input id="raw-active-<%= id %>" class="g-hidden-xs-up g-pos-abs g-top-0 g-right-0"
                        name="radGroup<%= id %>_1" type="radio" checked="">
                      <div class="u-check-icon-radio-v7">
                        <i class="fa" data-check-icon=""></i>
                      </div>
                    </div>
                  </label>
                </div>
              </td>
              <td>Active Power (kW)</td>
              <td id="raw-value-<%= id %>">0</td>
              <td>
                <div class="d-flex">
                  <input id="raw-input-<%= id %>" class="rounded-0 w-50" type="number" placeholder=650>
                </div>
              </td>
            </tr>
            <!-- PERCENTAGE ACTIVE POWER -->
            <tr>
              <td>
                <div class="form-group">
                  <label class="d-flex align-items-center justify-content-between">

                    <div class="u-check">
                      <input id="percentage-active-<%= id %>" class="g-hidden-xs-up g-pos-abs g-top-0 g-right-0"
                        name="radGroup<%= id %>_1" type="radio">
                      <div class="u-check-icon-radio-v7">
                        <i class="fa" data-check-icon=""></i>
                      </div>
                    </div>
                  </label>
                </div>
              </td>
              <td>Active Power (%)</td>
              <td id="percentage-value-<%= id %>">0</td>
              <td>
                <div class="d-flex">
                  <input id="percentage-input-<%= id %>" class="rounded-0 w-50" type="number" placeholder=70>
                </div>
              </td>
            </tr>

            <!-- REACTIVE POWER -->
            <tr class="d-none">
              <td>
                <i class="fa fa-lock"></i>

              </td>
              <td>Reactive Power (kVar)</td>
              <td id="reactive-value-<%= id %>">0</td>
              <td>
                <i class="fa fa-lock"></i>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>