<!-- Header -->
<header id="js-header" class="u-header u-header--sticky-top">
    <div class="u-header__section u-header__section--admin-dark ayd-color g-min-height-65">
      <nav class="navbar no-gutters g-pa-0">
        <div class="col-2 d-flex flex-nowrap  justify-content-center u-header-logo-toggler g-py-12">
          <!-- Logo -->
          <a href="/" class="navbar-brand d-flex g-hidden-xs-down g-line-height-1 py-0 ">
            <img class="g-width-80 g-width-130--md g-height-40 g-height-65--md"
                    src="/public/img/ayd.jpg" alt="Image description">
          </a>
          <!-- End Logo -->
        </div>
  
        <!-- Messages/Notifications/Top Search Bar/Top User -->
        <div class="col-8 d-flex ">
          <span class="h2 mx-auto">SOLAR SCADA <sup class="textCircle">m</sup></span>
        </div>
        <div class="col-2 d-flex ml-auto">
            <label class="form-check-inline u-check g-pl-25 g-font-size-22">
                <input id="connection-status" class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox" >
                <div class="u-check-icon-font g-absolute-centered--y g-left-0">
                  <i class="fa g-font-size-20" data-check-icon="" data-uncheck-icon=""></i>
                </div>
                Connection
            </label>
        </div> 
        <!-- End Messages/Notifications/Top Search Bar/Top User -->
      </nav>
  
    </div>
  </header>
  <!-- End Header -->