<!DOCTYPE html>
<html>

<head>
  <title>
    SOLAR SCADA 
  </title>
  <!-- Google Fonts -->
  <link rel="stylesheet"
    href="//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">
  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="/public/vendor/bootstrap/bootstrap.min.css">
  <!-- CSS Global Icons -->
  <link rel="stylesheet" href="/public/vendor/icon-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/public/vendor/icon-line/css/simple-line-icons.css">
  <link rel="stylesheet" href="/public/vendor/icon-etlinefont/style.css">
  <link rel="stylesheet" href="/public/vendor/icon-line-pro/style.css">
  <link rel="stylesheet" href="/public/vendor/icon-hs/style.css">

  <link rel="stylesheet" href="/public/vendor/hs-admin-icons/hs-admin-icons.css">

  <link rel="stylesheet" href="/public/vendor/animate.css">
  <link rel="stylesheet" href="/public/vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css">

  <link rel="stylesheet" href="/public/vendor/flatpickr/dist/css/flatpickr.min.css">
  <link rel="stylesheet" href="/public/vendor/bootstrap-select/css/bootstrap-select.min.css">


  <!-- CSS Unify -->
  <link rel="stylesheet" href="/public/css/unify-admin.css">

</head>

<body >
  <%- include('partials/header'); -%>
  <main class="container-fluid px-0 g-pt-65 background-color-dark">
    <div class="no-gutters g-pos-rel g-overflow-x-hidden">
      <div class="g-pa-20">
        <div class ="row justify-content-center">
          <%- include('partials/control', {name: unit[0].name, id: unit[0].id}); %>
        </div>
        <div class ="row justify-content-around">
          <% for (let i = 1; i< unit.length; i++) { %>
            <div class="g-mb-15">
              <%- include('partials/control', {name: unit[i].name, id: unit[i].id}); %>
            </div>
          <% } %>
        </div>
    </div>
  </main>
  

  <script src="/public/vendor/jquery/jquery.min.js"></script>
  <script src="/public/vendor/jquery-migrate/jquery-migrate.min.js"></script>

  <script src="/public/vendor/popper.js/popper.min.js"></script>
  <script src="/public/vendor/bootstrap/bootstrap.min.js"></script>

  <script src="/public/vendor/cookiejs/jquery.cookie.js"></script>


  <!-- jQuery UI Core -->
  <script src="/public/vendor/jquery-ui/ui/widget.js"></script>
  <script src="/public/vendor/jquery-ui/ui/version.js"></script>
  <script src="/public/vendor/jquery-ui/ui/keycode.js"></script>
  <script src="/public/vendor/jquery-ui/ui/position.js"></script>
  <script src="/public/vendor/jquery-ui/ui/unique-id.js"></script>
  <script src="/public/vendor/jquery-ui/ui/safe-active-element.js"></script>

  <!-- JS Plugins Init. -->
  
  <!-- JS Unify -->
  <script src="/public/js/hs.core.js"></script>
  <script src="/public/js/helpers/hs.focus-state.js"></script>
  <script src="/public/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
  <script src="/public/js/chart.min.js"></script>

  <script>
    let unit = <%-JSON.stringify(unit) %>
    $(document).on('ready', function () {
      // initialization of custom select
      $('.js-select').selectpicker();
      $('#enable-0').prop('checked', true)
      for(let i = 0 ; i < unit.length; i++){
        if(i == 0){
          $(`#enable-${i}`).prop('checked', true)
        }
        else{
          $(`#enable-${i}`).prop('checked', false)
        }
      }
    });
  </script>
  <script src="/socket.io/socket.io.js"> </script>
  <script src="/public/js/main.js"></script>
</body>

</html>
